version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres-estudo
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    container_name: estudo-app
    depends_on:
      - postgres
    env_file:
      - .env
    ports:
      - "9090:9090"

volumes:
  pgdata:
